*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.idea/workspace.xml
.DS_Store
.git/
.idea
.idea/workspace.xml
.DS_Store
__pycache__/
venv/
./venv
# javascript
package-lock.json
staticfiles/*
!staticfiles/.gitkeep
.vscode/symbols.json
apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp
*.py[cod]
# tests and coverage
*.pytest_cache
.coverage
# database & logs
*.sqlite3
*.log

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celery.log
deployments
./deployments
./bin
.github
nginx


.git/
.terraform/

# custom
.hg/
.svn/
.ssh/
**/git/
**/github/
gitroot/
mercurial/
hg/
hgroot/
svn/
svnroot/

.idea