<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<title>prodxcloud</title> 
</head> 
<body> 
    <nav class="navbar bg-body-tertiary" style="">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://prodxcloud.com/assets/images/logo/logo-prodxcloud-dark.png" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
           
          </a>
        </div>
      </nav>
    <div class="container-fluid" style="align-content: center;margin-top: 150px; margin-left: 21%;">
        <img src="https://miro.medium.com/v2/resize:fit:720/1*DluPjzT_eTUFdzHCI7JBZA.gif" />
    </div>

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://prodxcloud.com/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="https://prodxcloud.com/" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="https://prodxcloud.com/" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="https://prodxcloud.com/" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="https://prodxcloud.com/" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">&copy; 2022 prodxcloud, Inc</p>
        </footer>
      </div>
</body> 
</html> 